
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 90%;
    margin: 0 auto;
}
.main-button{
    padding: 8px;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: 500;
    background: #39999b;
    text-transform: uppercase;
    color: white;
    border: none;
    border-radius: 5px;
}